body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255) !important;
    box-sizing: border-box;
} 

header{
    width: 100%;
    padding: 20px;
}


.icon-card{
    font-size: 128px;
    text-align: center;
}

footer{
    margin: 0 !important;
}

.servicios{
    width: 100%;
    box-sizing: border-box;
}


.carousel-control-prev,
.carousel-control-next{
    max-height: 100px;
    width: 100px;
    align-self: center;
    padding: 20px 0;
    box-sizing: border-box;
}

.carousel-caption{
   background-color: rgba(25, 135, 84, 0.829) !important;
}

.bienvenida{
    width: 100%;
    min-height:100vh;
    background-image: url(../img/Gemini_Generated_Image_fvf691fvf691fvf6.png);
    background-size: cover;
    background-position: center;
    display: flex;
}

.cont-text{
    background-color: rgba(255, 255, 255, 0.74);
    padding: 10px;
    max-width: 50%;
    
    display: flex;
    flex-direction: column;   /* Alinea H1 y P uno arriba del otro */
    justify-content: center;  /* Centrado vertical */
    align-items: center;      /* Centrado horizontal */
    text-align: center;
    font-size: 22px;
}

.cont-text-reverse{
    background-color: rgba(25, 135, 84, 0.74);
    padding: 10px;
    max-width: 50%;
    color: white;
    
    display: flex;
    flex-direction: column;   /* Alinea H1 y P uno arriba del otro */
    justify-content: center;  /* Centrado vertical */
    align-items: center;      /* Centrado horizontal */
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    font-size: 22px;
}

.insti{
    width: 100%;
    min-height:100vh;
    background-image: url(../img/Gemini_Generated_Image_rvsljlrvsljlrvsl.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
}

.carreras h2{
    z-index: 6;
    position: absolute;
    padding: 10px;
    color: antiquewhite;
    background-color: rgba(25, 135, 84, 0.74);
}

.serv{
    margin: 10px;
}

.final-index{
    width: 100%;
    min-height:100vh;
    background-image: url(../img/Gemini_Generated_Image_xlekuhxlekuhxlek.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: start;
}